<p style="color: green"><%= notice %></p>

<div class="col-md-6 col-12 mx-auto mb-4">
  <h1 class="z-index-4 mb-4">Articulos</h1>
</div>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
